.ui-calendar-container { position: relative; top: 0; left: 0; display: none; }
table.ui-calendar {
	position: absolute; top: 10px; left: 0; width: 180px; z-index: 2; margin: 0; padding: 0; border: none; border-spacing: 0;
	margin: 0; padding: 0; border: 1px solid #ccc; border-collapse: separate;
	font: 16px Roboto, sans-serif; background: #fff; color: #444;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -vendor-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.ui-calendar span {
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s;
}
.ui-calendar span:hover {
	background: #8bd3ff;
	-webkit-transition: all ease-in-out 0.1s; transition: all ease-in-out 0.1s;
}
.ui-calendar span.ui-calendar-selected { background: #12a4ff; color: #fff; }

.ui-calendar thead tr { min-height: 50px; }

.ui-calendar td { margin: 0; padding: 0; border: none; }
.ui-calendar thead { text-align: center; font-weight: normal; background: #eee; }
.ui-calendar thead td { padding: 3px 0; }
.ui-calendar span { color: #444; }
.ui-calendar thead span:hover { color: #fff; background: #ccc; }

/* YEAR */
.ui-calendar .ui-calendar-year { font-size: 18px; }
.ui-calendar .ui-calendar-prev-year, .ui-calendar .ui-calendar-next-year { cursor: pointer; }
.ui-calendar .ui-calendar-prev-year:before {
	/* LEFT arrow for previous year */
	content: ""; display: block; float: right; width: 0; height: 0; margin: 0 20px 0 0;border-width: 6px 8px 6px 0; border-color: transparent; border-right-color: #ccc; border-style: solid;
}
.ui-calendar .ui-calendar-next-year:before {
	/* RIGHT arrow for next year */
	content: ""; display: block; float: left; width: 0; height: 0; margin: 0 0 0 20px;border-width: 6px 0 6px 8px; border-color: transparent; border-left-color: #ccc; border-style: solid;
}
.ui-calendar .ui-calendar-prev-year:hover:before { border-right-color: #12a4ff; } 
.ui-calendar .ui-calendar-next-year:hover:before { border-left-color: #12a4ff; }


/* MONTH */
.ui-calendar .ui-calendar-month { font-size: 18px; }
.ui-calendar .ui-calendar-prev-month, .ui-calendar .ui-calendar-next-month { font-weight: normal; cursor: pointer; }
.ui-calendar .ui-calendar-prev-month:before {
	/* LEFT arrow for previous month */
	content: ""; display: block; float: right; width: 0; height: 0; margin: 0 20px 0 0; border-width: 6px 8px 6px 0; border-color: transparent; border-right-color: #ccc; border-style: solid;
}
.ui-calendar .ui-calendar-next-month:before {
	/* RIGHT arrow for next month */
	content: ""; display: block; float: left; width: 0; height: 0; margin: 0 0 0 20px; border-width: 6px 0 6px 8px; border-color: transparent; border-left-color: #ccc; border-style: solid;
}
.ui-calendar .ui-calendar-prev-month:hover:before { border-right-color: #12a4ff; } 
.ui-calendar .ui-calendar-next-month:hover:before { border-left-color: #12a4ff; }

/* DAYS */
.ui-calendar-weekdays { height: 40px; font-weight: bold; }


.ui-calendar tbody tr td:nth-child(6), .ui-calendar tbody tr td:nth-child(7) { background: #d8edff; } /* weekend days */
.ui-calendar tbody tr { height: 35px; }
.ui-calendar tbody td { width: 14.2857%; }
.ui-calendar tbody td.ui-calendar-start-range {
	-moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;
}
.ui-calendar tbody span {
	display: block; width: 35px; height: 35px; margin: 0 auto; text-decoration: none; line-height: 35px; text-align: center; color: #444;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; cursor: pointer;
}

.ui-calendar tfoot { text-align: center; }
.ui-calendar tfoot span { display: block; height: 40px; line-height: 40px; color: #00aff0; }

