/* Context menu widget styling */

/*
PENDING: using names compliant to the naming convention, example: .ui-context-menu instead of .contextMenu
*/

ul.contextMenu, ul.contextMenu ul {
	display: none; position: absolute; top: 0; left: 0; z-index: 3; width: 200px; list-style: none;
	margin: 0; padding: 4px 0; border: 1px solid #ccc; background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -vendor-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ul.contextMenu li { position: relative; margin: 0; text-indent: 0; }
ul.contextMenu a { display: block; padding: 2px 4px 2px 28px; color: #333; text-decoration: none; }
ul.contextMenu a:hover { display: block; text-decoration: none; background: #eee; }
ul.contextMenu li.h-separator { height: 0; margin: 4px 0; border-top: 1px solid #ebebeb; font-size: 0; }
/* Nested menus: */
ul.contextMenu li ul { position: absolute; display: none; }
ul.contextMenu li:hover ul { display: block; left: 100%; }
